[submodule "extern/hydra"]
	path = extern/hydra
	url = git@github.com:asilz/TelltaleHydra.git
	branch = main
[submodule "extern/imgui"]
	path = extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/sdl3"]
	path = extern/sdl3
	url = git@github.com:libsdl-org/SDL.git
[submodule "extern/vulkan"]
	path = extern/vulkan
	url = git@github.com:KhronosGroup/Vulkan-Loader.git
[submodule "extern/vulkan-headers"]
	path = extern/vulkan-headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
