[submodule "extern/hydra"]
	path = extern/hydra
	url = git@github.com:asilz/TelltaleHydra.git
	branch = main
[submodule "extern/imgui"]
	path = extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
